*{
  margin: 0;
	padding: 0;
  box-sizing: border-box;
}
/* font montserrat regular 400 */
body{
  font-family: 'Montserrat', sans-serif;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.container{
  width: 80%;
  margin: 0 auto;
}

/* header */
.header{
  height: 100px;
}

.logo img{
  height: 50px;
  border-right: 1px solid rgb(229, 229, 229);
  padding-right: 15px;
}

nav{
  margin-top: 25px;
}

nav li{
  list-style: none;
  /* modalità inline-block */
  /* display: inline-block; */
  /* modalità float */
  float: left;
  margin-right: 10px;
}

nav li a, nav li a:visited{
  text-transform: uppercase;
  color: rgb(135, 135, 135);
  text-decoration: none;
}

nav li a:hover, nav li a:active{
  color: blueviolet;
}
/* /header */

/* jumbotron */
.jumbotron{
  height: 600px;
  margin: 25px auto;
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-position: center;
}

.layer{
  height: 100%;
  background-color: rgba(0, 0, 0, .3);
}

.jumbotron, .layer, .main-layer, .left-image, .center-image, .right-image{
  border-radius: 10px;
}

.j-text{
  width: 50%;
  margin-left: 50px;
  padding-top: 25%;
  color: white;
}
.j-title{
  font-size: 35px;
}
/* /jumbotron */

/* corpo della pagina */
.main{
  height: 750px;
}

.main-header{
  height: 75px;
}

.main-layer{
  height: 100%;
  background-color: rgba(0, 0, 0, .3);
}

.main-title{
  font-size: 45px;
}

.images{
  height: 30%;
  background-size: cover;
  background-position: center;
}

.main-titles{
  margin: 25px 0;
}

/* contenuto a sinistra */
.left-space{
  float: left;
  width: 15%;
  height: 85%;
  margin-top: 20px;
}

.left-image{
  background-image: url("../img/img-1.jpg");
}
/* /contenuto a sinistra */

/* contenuto centrale */
.center-space{
  float: left;
  width: 65%;
  height: 85%;
  margin-top: 20px;
  margin-left: 2.5%;
}

.center-image{
  height: 30%;
  background-image: url("../img/banner-2.jpg");

}
/* /contenuto centrale */

/* contenuto a destra */
.right-space{
  float: right;
  width: 15%;
  height: 85%;
  margin-top: 20px;
}
/* /contenuto a destra */

.right-image{
  background-image: url("../img/img-3.jpg");
}
/* /corpo della pagina */

.footer{
  height: 80px;
  margin-top: 10px;
  text-align: center;
}

.made-by{
  padding-top: 30px;
}

#heart-color{
  font-size: 25px;
  color: red;
}