*{
  margin: 0;
	padding: 0;
  box-sizing: border-box;
}
/* font montserrat regular 400 */
body{
  font-family: 'Montserrat', sans-serif;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.container{
  width: 80%;
  margin: 0 auto;
}

/* header */
.header{
  height: 100px;
  background-color: rgb(229, 121, 230);
}

.logo img{
  height: 50px;
  border-right: 1px solid rgb(229, 229, 229);
  padding-right: 15px;
}

nav{
  margin-top: 25px;
}

nav li{
  list-style: none;
  /* modalità inline-block */
  /* display: inline-block; */
  /* modalità float */
  float: left;
  margin-right: 10px;
}

nav li a, nav li a:visited{
  text-transform: uppercase;
  color: rgb(135, 135, 135);
  text-decoration: none;
}

nav li a:hover, nav li a:active{
  color: blueviolet;
}
/* /header */

/* jumbotron */
.jumbotron{
  height: 500px;
  margin: 25px auto;
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-position: center;
}

.layer{
  height: 500px;
  background-color: rgba(0, 0, 0, .3);
}

.jumbotron, .layer{
  border-radius: 10px;
}

.j-text{
  width: 50%;
  margin-left: 50px;
  padding-top: 20%;
  color: white;
}
.j-title{
  font-size: 35px;
}
/* /jumbotron */

/* corpo della pagina */
.main{
  height: 750px;
  background-color: rgb(1, 134, 253);
}

.main-header, .left-space, .right-space, .center-space{
  background-color: rgb(171, 207, 231);
}

.main-header{
  height: 75px;
}

.left-space{
  float: left;
  width: 15%;
  height: 85%;
  margin-top: 20px;
}

.center-space{
  float: left;
  width: 65%;
  height: 85%;
  margin-top: 20px;
  margin-left: 2.5%;
}

.right-space{
  float: right;
  width: 15%;
  height: 85%;
  margin-top: 20px;
}
/* /corpo della pagina */

.footer{
  height: 75px;
  margin-top: 10px;
  background-color: rgb(136, 1, 254);
}